@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --clr-primary: #f7f9fc;
  --clr-secondary: #151717;
  --clr-interaction: rgb(31 41 55 0.8);
  --clr-header: #2c3e50;
  --clr-button: #50e3c2;
  --clr-akcent: #4a90e2;
  --clr-red: #e74c3c;
}

/* Import font for headings */
@font-face {
  font-family: "Bebas Neue";
  src: url("/fonts/BebasNeue-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@media (prefers-color-scheme: dark) {
  :root {
    --clr-primary: #151717;
    --clr-secondary: #f7f9fc;
    --clr-interaction: rgba(234, 179, 8, 0.8);
    --clr-header: #d3c1af;
  }
}

body {
  @apply transition-colors duration-300;
  font-family: Roboto, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bebas Neue", sans-serif;
  color: var(--clr-header);
}

/* Headers */
.header {
  @apply text-6xl md:text-8xl lg:text-9xl text-center;
}
.sub-header {
  @apply text-4xl md:text-6xl lg:text-7xl text-center;
}
.header-sm {
  @apply text-3xl md:text-4xl lg:text-5xl text-center;
}

/* Input */
.input {
  @apply w-full p-2 border-none rounded outline-none text-secondary bg-gray-700 transition-all duration-300 ease-in-out focus:bg-akcent;
}
.link {
  @apply text-akcent hover:text-interaction transition-all duration-300 ease-in-out;
}
.page-btn {
  @apply px-4 py-2 text-primary bg-secondary rounded-lg hover:bg-button transition-all duration-300 ease-in-out;
}

/* User page elements */
.user-field {
  @apply py-4 px-2 rounded-lg border-2 border-gray-600 shadow-md bg-gray-800 flex justify-between items-center w-full max-w-[90%];
}
.panel {
  @apply w-full gradient-bg py-4 md:p-10 rounded-xl shadow-2xl border-2 border-akcent gap-2;
}

/* Overline for sections */
@layer utilities {
  .overline-top {
    @apply relative py-2;
  }
  .overline-top::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-10px);
    width: 90%;
    height: 2px;
    background-color: theme("colors.secondary");
  }
}

/* Underline for mobile menu */
@layer utilities {
  .underline-custom {
    @apply relative py-2;
  }
  .underline-custom::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) translateY(10px);
    width: 90%;
    height: 2px;
    background-color: var(--clr-secondary);
  }
  .dark .underline-custom::before {
    background-color: var(--clr-primary);
  }
}

/* Gradient */
@layer utilities {
  .gradient-bg {
    @apply bg-gradient-to-b from-black to-gray-800;
  }
}

/* ThemeButton */
.theme-button-icon {
  @apply w-6 h-6 text-interaction transition-transform duration-300 ease-in-out hover:scale-125;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 12px; /* szerokość dla pionowego scrollbar */
  height: 12px; /* wysokość dla poziomego scrollbar */
}

/* Tor (tło) scrollbara */
::-webkit-scrollbar-track {
  background: var(--clr-primary); /* kolor tła */
  border-radius: 10px; /* zaokrąglenie toru */
}

/* Sam uchwyt (rączka) scrollbara */
::-webkit-scrollbar-thumb {
  background: var(--clr-button);
  border-radius: 10px; /* zaokrąglenie rączki */
}

/* Hover nad uchwytem */
::-webkit-scrollbar-thumb:hover {
  background: var(--clr-akcent);
  cursor: pointer;
}
