@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --clr-primary: #f7f9fc;
  --clr-secondary: #151717;
  --clr-interaction: rgb(31 41 55 0.8);
  --clr-header: #2c3e50;
  --clr-button: #50e3c2;
  --clr-akcent: #4a90e2;
  --clr-red: #e74c3c;
}

@media (prefers-color-scheme: dark) {
  :root {
    --clr-primary: #151717;
    --clr-secondary: #f7f9fc;
    --clr-interaction: rgba(234, 179, 8, 0.8);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  @apply transition-colors duration-300;
  font-family: Roboto, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  color: var(--clr-header);
}

/* Underline for mobile menu */
.underline-custom {
  position: relative;
}

.underline-custom::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-8px);
  width: 120px;
  height: 2px;
  background-color: var(--clr-secondary);
}

.dark .underline-custom::before {
  background-color: var(--clr-primary);
}

/* ThemeButton */
.theme-button-icon {
  @apply w-6 h-6 text-interaction transition-transform duration-300 ease-in-out hover:scale-125;
}
