@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --clr-primary: #f7f9fc;
  --clr-text: #151717;
  --clr-header: #2c3e50;
  --clr-akcent: #4a90e2;
  --clr-button: #50e3c2;
  --clr-interaction: #e74c3c;
}

body {
  color: var(--clr-text);
  background: var(--clr-primary);
  font-family: Roboto, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
